In [3]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 10.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Collecting python-dateutil>=2.8.2
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.7/247.7 KB 10.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 10.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, python-dateutil, pandas
Successfully installed pandas-2.0.1 python-dateutil-2.8.2 tzdata-2023.3

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.0.1'

In [11]:
%pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/budehux/.local/lib/python3.10/site-packages (12.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/lib/python3/dist-packages (from pyarrow) (1.21.5)

In [12]:
df = pd.read_parquet('/home/budehux/Projects/DataEngineeringZoomcamp/week1/yellow_tripdata_2021-01.parquet')
df.to_csv('yellow_tripdata_2021-01.csv')

In [13]:
df = df.to_csv('yellow_tripdata_2021-01.csv')

In [16]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [17]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [21]:
pd.io.sql.get_schema(df)

TypeError: get_schema() missing 1 required positional argument: 'name'

In [22]:
pd.io.sql.get_schema(df, name="yellow_taxi_data")

'CREATE TABLE "yellow_taxi_data" (\n"Unnamed: 0" INTEGER,\n  "VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "airport_fee" REAL\n)'

In [23]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"Unnamed: 0" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [24]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2021-01-01 00:30:10
1    2021-01-01 00:51:20
2    2021-01-01 00:43:30
3    2021-01-01 00:15:48
4    2021-01-01 00:31:49
             ...
95   2021-01-01 00:12:41
96   2021-01-01 00:23:29
97   2021-01-01 00:46:17
98   2021-01-01 00:28:16
99   2021-01-01 00:42:35
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [25]:
pd.to_datetime(df.tpep_dropoff_datetime)

0    2021-01-01 00:36:12
1    2021-01-01 00:52:19
2    2021-01-01 01:11:06
3    2021-01-01 00:31:01
4    2021-01-01 00:48:21
             ...
95   2021-01-01 00:26:47
96   2021-01-01 00:35:03
97   2021-01-01 00:54:25
98   2021-01-01 00:51:44
99   2021-01-01 00:54:41
Name: tpep_dropoff_datetime, Length: 100, dtype: datetime64[ns]

In [26]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2021-01-01 00:30:10
1    2021-01-01 00:51:20
2    2021-01-01 00:43:30
3    2021-01-01 00:15:48
4    2021-01-01 00:31:49
             ...
95   2021-01-01 00:12:41
96   2021-01-01 00:23:29
97   2021-01-01 00:46:17
98   2021-01-01 00:28:16
99   2021-01-01 00:42:35
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
engine.connect()

In [34]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [35]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [36]:
df_iter

In [37]:
df = next(df_iter)

In [38]:
len(df)

100000

In [39]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [40]:
df.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [42]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Unnamed: 0" of relation "yellow_taxi_data" does not exist
LINE 1: INSERT INTO yellow_taxi_data (index, "Unnamed: 0", "VendorID...
                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "Unnamed: 0", "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, t ... 495692 characters truncated ... vement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s, %(airport_fee__999)s)]
[parameters: {'index__0': 0, 'tip_amount__0': 0.0, 'PULocationID__0': 142, 'fare_amount__0': 8.0, 'store_and_fwd_flag__0': 'N', 'extra__0': 3.0, 'VendorID__0': 1, 'DOLocationID__0': 43, 'tolls_amount__0': 0.0, 'trip_distance__0': 2.1, 'congestion_surcharge__0': 2.5, 'improvement_surcharge__0': 0.3, 'airport_fee__0': None, 'UnnamedC_0__0': 0, 'payment_type__0': 2, 'passenger_count__0': 1.0, 'RatecodeID__0': 1.0, 'tpep_dropoff_datetime__0': datetime.datetime(2021, 1, 1, 0, 36, 12), 'tpep_pickup_datetime__0': datetime.datetime(2021, 1, 1, 0, 30, 10), 'total_amount__0': 11.8, 'mta_tax__0': 0.5, 'index__1': 1, 'tip_amount__1': 0.0, 'PULocationID__1': 238, 'fare_amount__1': 3.0, 'store_and_fwd_flag__1': 'N', 'extra__1': 0.5, 'VendorID__1': 1, 'DOLocationID__1': 151, 'tolls_amount__1': 0.0, 'trip_distance__1': 0.2, 'congestion_surcharge__1': 0.0, 'improvement_surcharge__1': 0.3, 'airport_fee__1': None, 'UnnamedC_0__1': 1, 'payment_type__1': 2, 'passenger_count__1': 1.0, 'RatecodeID__1': 1.0, 'tpep_dropoff_datetime__1': datetime.datetime(2021, 1, 1, 0, 52, 19), 'tpep_pickup_datetime__1': datetime.datetime(2021, 1, 1, 0, 51, 20), 'total_amount__1': 4.3, 'mta_tax__1': 0.5, 'index__2': 2, 'tip_amount__2': 8.65, 'PULocationID__2': 132, 'fare_amount__2': 42.0, 'store_and_fwd_flag__2': 'N', 'extra__2': 0.5, 'VendorID__2': 1, 'DOLocationID__2': 165 ... 20900 parameters truncated ... 'UnnamedC_0__997': 997, 'payment_type__997': 1, 'passenger_count__997': 3.0, 'RatecodeID__997': 1.0, 'tpep_dropoff_datetime__997': datetime.datetime(2021, 1, 1, 0, 24, 23), 'tpep_pickup_datetime__997': datetime.datetime(2021, 1, 1, 0, 16, 38), 'total_amount__997': 14.76, 'mta_tax__997': 0.5, 'index__998': 998, 'tip_amount__998': 0.0, 'PULocationID__998': 263, 'fare_amount__998': -12.0, 'store_and_fwd_flag__998': 'N', 'extra__998': -0.5, 'VendorID__998': 2, 'DOLocationID__998': 186, 'tolls_amount__998': 0.0, 'trip_distance__998': 3.35, 'congestion_surcharge__998': -2.5, 'improvement_surcharge__998': -0.3, 'airport_fee__998': None, 'UnnamedC_0__998': 998, 'payment_type__998': 4, 'passenger_count__998': 1.0, 'RatecodeID__998': 1.0, 'tpep_dropoff_datetime__998': datetime.datetime(2021, 1, 1, 0, 40, 8), 'tpep_pickup_datetime__998': datetime.datetime(2021, 1, 1, 0, 28, 9), 'total_amount__998': -15.8, 'mta_tax__998': -0.5, 'index__999': 999, 'tip_amount__999': 0.0, 'PULocationID__999': 263, 'fare_amount__999': 12.0, 'store_and_fwd_flag__999': 'N', 'extra__999': 0.5, 'VendorID__999': 2, 'DOLocationID__999': 186, 'tolls_amount__999': 0.0, 'trip_distance__999': 3.35, 'congestion_surcharge__999': 2.5, 'improvement_surcharge__999': 0.3, 'airport_fee__999': None, 'UnnamedC_0__999': 999, 'payment_type__999': 2, 'passenger_count__999': 1.0, 'RatecodeID__999': 1.0, 'tpep_dropoff_datetime__999': datetime.datetime(2021, 1, 1, 0, 40, 8), 'tpep_pickup_datetime__999': datetime.datetime(2021, 1, 1, 0, 28, 9), 'total_amount__999': 15.8, 'mta_tax__999': 0.5}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [45]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [46]:
df = next(df_iter)

In [47]:
len(df)

100000

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [49]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [50]:
df = next(df_iter)

In [51]:
df.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [52]:
df_iter = pd.read_csv('cut_yellow_tripdata.csv', iterator=True, chunksize=100000)

In [53]:
df = nex(df_iter)

NameError: name 'nex' is not defined

In [54]:
df = next(df_iter)

In [55]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [56]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [57]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [58]:
from time import time

In [60]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk... took %.3f seconds' %(t_end - t_start))

inserted another chunk... took 8.697 seconds
inserted another chunk... took 8.898 seconds
inserted another chunk... took 8.766 seconds
inserted another chunk... took 8.797 seconds
inserted another chunk... took 8.940 seconds
inserted another chunk... took 9.571 seconds

/tmp/ipykernel_45532/1546534849.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk... took 9.289 seconds
inserted another chunk... took 8.569 seconds
inserted another chunk... took 7.997 seconds
inserted another chunk... took 8.642 seconds
inserted another chunk... took 8.854 seconds

/tmp/ipykernel_45532/1546534849.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... took 8.722 seconds
inserted another chunk... took 5.805 seconds

StopIteration: